.cast-name {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: #14d9e6;
}
.cast-img {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px;
  gap: 10px;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
