.cast-title p {
  font-family: "'Roboto', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
}

.cast-title a {
  text-decoration: none;
}
.view-btn {
  box-sizing: border-box;
  padding: 10px 24px;
  gap: 10px;
  width: 116px;
  height: 42px;
  border: 1px solid #9dfe00;
  border-radius: 8px;
  font-family: "'Roboto', sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #ffffff;
}

.cast-card {
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 87%, 70% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 87%, 70% 100%, 0% 100%);
}

.cast-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #9dfe00, #14d9e6) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.character-img {
  width: 258px;
  height: 216px;
  border-radius: 3.77917px;
}
.cast-card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
}
