.allCast-container {
  background-image: url("../../../assets/castDetails/Background.png"),
    url("../../../assets/castDetails/Star.png");
  background-position: top, bottom 15% left 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
