.location-title {
  font-family: "'Roboto', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
}
.location-card {
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 81%, 79% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 81%, 79% 100%, 0% 100%);
    height: 80px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(3.77917px);
    background: linear-gradient(45deg, #9dfe00, #14d9e6) ;
}
.location-body {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 10px;
    backdrop-filter: blur(3.77917px);
    background: rgb(43, 42, 42);
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 81%, 79% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 81%, 79% 100%, 0% 100%);
}

.location-card p {
  font-family: "'Roboto', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
}

.location-card span {
  font-family: "'Roboto', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
}
